azure-identity
azure-ai-documentintelligence
azure-search-documents
azure-ai-inference 
deepeval
dotenv
fastapi
gradio
langchain
langchain-openai
langgraph
openai
pypdf2
tiktoken
typing_extensions
uvicorn